<!DOCTYPE html>
<html>
<head>
    <title>Rechercher des contacts</title>
</head>
<body>
    <h1>Rechercher des contacts</h1>
    <form method="post" action="{{ url_for('search_contacts_view') }}">
        <label for="criteria">Critère de recherche :</label>
        <input type="text" id="criteria" name="criteria" required>
        <button type="submit">Rechercher</button>
    </form>
    <a href="{{ url_for('all_contacts_view') }}">Voir tous les contacts</a>
    <br>
    <a href="{{ url_for('delete_contact_view') }}">Supprimer un contact</a>
</body>
</html>